:root{
    --cor-de-fundo: #fff1e5;
    --cor-de-texto: black;
    --cor-do-cabeçalho: #ffe1f1;
    --marrom: #6d4930;
    --verdinho: #eaf2dd;
    }

body {
    background-color:var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.atividades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header {
    background-color: var(--cor-do-cabeçalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-disciplinas {
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: var(--cor-do-cabeçalho);
    padding: 10px;
    border-radius: 5px;
}

.titule {
    display:flex;
    align-items: center;
    justify-content: space-around;
}